@page
@model IndexModel

@using MultiTenants.Fx

@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1 class="display-4">Welcome @HttpContext.GetTenant()?.Items["Name"] </h1>    
</div>
